body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #252A34;
    color: white;
}

.game-mode {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-mode label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

#mode {
    width: 100%;
    appearance: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

#mode:focus {
    outline: none;
    border-color: #FF2E63;
    box-shadow: 0 0 0 2px rgba(255, 46, 99, 0.2);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252A34;
    border: 1px solid #ccc;
    font-size: 2em;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.cell:hover {
    background-color: #FF2E63;
}

.status {
    margin-top: 5px;
    font-size: 1.5em;
    color: white;
}

.restart {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #FF2E63;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.restart:hover {
    background-color: #08D9D6;
    color: #252A34;
}

.turn-container {
    width: 170px;
    height: 70px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 35px;
    background-color: #FF2E63;
    box-shadow: 0px 1px 20px 12px rgb(235 0 0 / 10%);
    z-index: -1;
}

@media screen and (max-width: 442px) {
    #mode {
        font-size: 10px;
    }
}